
            {% extends "church/base.html" %}
            {% load i18n %}
            {% block nav_content%}
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-home" style="padding-left: 20%;" ></i>Home</a>
                        
                    </li>
                    <li class="active">
                        <a href="{% url 'members' %}">
                            <i class="fa fa-users" style="padding-left: 20%;" ></i>Members</a>
                    </li>
                    <li>
                        <a href="table.html">
                            <i class="fa fa-building" style="padding-left: 20%;"></i>Departments</a>
                    </li>
                    <li>
                        <a href="form.html">
                            <i class="far fa-check-square"></i>Forms</a>
                    </li>
                    <li>
                        <a href="calendar.html">
                            <i class="fas fa-calendar-alt"></i>Calendar</a>
                    </li>
                    <li>
                        <a href="map.html">
                            <i class="fas fa-map-marker-alt"></i>Maps</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-copy"></i>Pages</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                            <li>
                                <a href="register.html">Register</a>
                            </li>
                            <li>
                                <a href="forget-pass.html">Forget Password</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-desktop"></i>UI Elements</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="button.html">Button</a>
                            </li>
                            <li>
                                <a href="badge.html">Badges</a>
                            </li>
                            <li>
                                <a href="tab.html">Tabs</a>
                            </li>
                            <li>
                                <a href="card.html">Cards</a>
                            </li>
                            <li>
                                <a href="alert.html">Alerts</a>
                            </li>
                            <li>
                                <a href="progress-bar.html">Progress Bars</a>
                            </li>
                            <li>
                                <a href="modal.html">Modals</a>
                            </li>
                            <li>
                                <a href="switch.html">Switchs</a>
                            </li>
                            <li>
                                <a href="grid.html">Grids</a>
                            </li>
                            <li>
                                <a href="fontawesome.html">Fontawesome Icon</a>
                            </li>
                            <li>
                                <a href="typo.html">Typography</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            {% endblock nav_content%}
            {% block content %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div style="margin-left:4%;">
                        
                       
                        <div class="row">
                            <div class="col-md-12">


                                <!-- Form Entry -->
                                <div class="card">
                                    <div class="card-header" style="text-align: center;">
                                        <strong>BIO</strong> DATA
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="{% url 'first_member_details' %}" method="post" class="">
                                            {% csrf_token %}
                                            <div class="container-fluid">
                                                <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input class="au-input au-input--full" type="text" name="firstname" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Other Names</label>
                                                    <input class="au-input au-input--full" type="text" name="lastname" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="example">Date of Birth</label>
                                                    <div class="md-form md-outline input-with-post-icon datepicker">
                                                        <input placeholder="" type="date" id="dob"  name="pob" class="form-control">
                                                        
                                                    </div>
                                                </div>
                                               <div class="form-group">
                                                <select name="gender" id="SelectLm" class="form-control-sm form-control">
                                                    <label for="example">Date of Birth</label>
                                                    <option value="0">Male</option>
                                                    <option value="1">Female</option>
                                                    <option value="2">Other</option>
                                                    
                                                </select>
                                               </div>
                                               <div class="form-group">
                                                <label>Country of Birth</label>
                                                <input class="au-input au-input--full" type="text" name="country" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label>Place of Birth</label>
                                                <input class="au-input au-input--full" type="text" name="name" placeholder="">
                                            </div>
                                               
                                                </div>
                                         
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input class="au-input au-input--full" type="text" name="name" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input class="au-input au-input--full" type="text" name="phone" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="nf-email" class=" form-control-label">Email</label>
                                                    <input type="email" id="nf-email" name="email" placeholder="Enter Email.." class="form-control">
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <select name="marital_status" id="SelectLm" class="form-control-sm form-control">
                                                        <label for="example">Marital Status</label>
                                                        <option value="0">Married</option>
                                                        <option value="1">Single</option>
                                                        <option value="2">Still Searching but not single</option>
                                                        
                                                    </select>
                                                   </div>
                                                   <div class="form-group">
                                                    <label>Home town</label>
                                                    <input class="au-input au-input--full" type="text" name="home_town" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Place of Recidence</label>
                                                    <input class="au-input au-input--full" type="text" name="por" placeholder="">
                                                </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-6 offset-md-6 col-sm-6">
                                                        
                                                            <button class="au-btn au-btn--block m-b-20" type="submit" 
                                                                        style="background-color: #04047B; ">Save and Continue <i  class="fa fa-arrow-right"></i>
                                                                    </button>
                                                        
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>

                                <!-- END OF FORM-->
                            </div>
                        </div>
                       
                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
{% endblock content %}
       