        {% extends "church/base.html" %}
        {% load i18n %}
        {% block nav_content%}
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a class="js-arrow" href="{% url 'home' %}">
                        <i class="fa fa-home" style="padding-left: 20%;" ></i>Home</a>

                </li>
                <li >
                    <a href="{% url 'members' %}">
                        <i class="fa fa-users" style="padding-left: 20%;" ></i>Members</a>
                </li>
                <li>
                    <a  href="{% url 'department' %}">
                        <i class="fa fa-building" style="padding-left: 20%;"></i>Departments</a>
                </li>

            </ul>
        </nav>
        {% endblock nav_content%}
        {% block content %}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div style="margin-left:4%;">
                        <div class="row">
                            <div class="col-md-8"> </div>


                            <div class="col-md-4">
                                    <!-- <button class="au-btn au-btn-icon au-btn--yellow" onclick="location.href='{% url 'add_member' %}'" >
                                        add member<i class="fa fa-user-plus" style="padding-left: 15%;"></i></button>
                               -->
                            </div>
                        </div>


        <!-- PAGE CONTENT-->



            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Welcome to
                                <span> Berean AG Management system</span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!-- STATISTIC-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--orange">
                                <h2 class="number">{{members}}</h2>
                                <span class="desc">Current Members</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <h2 class="number">{{departments}}</h2>
                                <span class="desc">No of Departments</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <!-- CHART PERCENT-->
                            <div class="chart-percent-2">
                                <h3 class="title-3 m-b-30">chart by %</h3>
                                <div class="chart-wrap">
                                    <canvas id="percent-chart2" data={{males}} data2={{females}}> </canvas>
                                    <div id="chartjs-tooltip">
                                        <table></table>
                                    </div>
                                </div>
                                <div class="chart-info">
                                    <div class="chart-note">
                                        <span class="dot dot--blue"></span>
                                        <span>Males: {{males}}</span>
                                    </div>
                                    <div class="chart-note">
                                        <span class="dot dot--red"></span>
                                        <span>Females: {{females}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END CHART PERCENT-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->

            <!-- STATISTIC CHART-->
            <section class="statistic-chart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">statistics</h3>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-md-6 col-lg-4">
                            <!-- CHART PERCENT-->
                            <div class="chart-percent-2">
                                <h3 class="title-3 m-b-30">chart by %</h3>
                                <div class="chart-wrap">
                                    <canvas id="percent-chart2" data={{males}} data2={{females}}> </canvas>
                                    <div id="chartjs-tooltip">
                                        <table></table>
                                    </div>
                                </div>
                                <div class="chart-info">
                                    <div class="chart-note">
                                        <span class="dot dot--blue"></span>
                                        <span>Male:{{males}}</span>
                                    </div>
                                    <div class="chart-note">
                                        <span class="dot dot--red"></span>
                                        <span>Female:{{females}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END CHART PERCENT-->
                        </div>
                    </div>
                </div>
            </section>



        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020 . All rights reserved. By <a href="#">Emmanuel Antwi</a>.</p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
<!-- END MAIN CONTENT-->


    {% endblock content %}
