{% extends "church/base.html" %}
{% block nav_content%}
<nav class="navbar-sidebar">
    <ul class="list-unstyled navbar__list">
        <li >
            <a class="js-arrow" href="{% url 'home' %}">
                <i class="fa fa-home" style="padding-left: 20%;" ></i>Home</a>
            
        </li>
        <li class="active">
            <a href="{% url 'members' %}">
                <i class="fa fa-users" style="padding-left: 20%;" ></i>Members</a>
        </li>
        <li>
            <a  href="{% url 'department' %}">
                <i class="fa fa-building" style="padding-left: 20%;"></i>Departments</a>
        </li>
       
    </ul>
</nav>
{% endblock nav_content%}
{% block content %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div style="margin-left:4%;">
                            <div class="row">
                                {{message}}
                                <div class="col-md-8"> </div>
                                    
                                    
                                <div class="col-md-4">      
                                        <button class="au-btn au-btn-icon au-btn--yellow" onclick="location.href='{% url 'add_member' %}'" >
                                            add member<i class="fa fa-user-plus" style="padding-left: 15%;"></i></button>
                                  
                                </div>
                            </div>
                        
                        <div class="row m-t-25 m-b-25">
                            <div class="col-sm-6 col-lg-5">
                                <form class="au-form-icon--sm" action="" method="post">
                                    <input class="au-input--w300 au-input--style2 " type="text" placeholder="Search for datas &amp; reports...">
                                    <button class="au-btn--submit2"  type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">


                                <!-- DATA TABLE -->
                                
                                <div class="table-scrollable">
                                    <table class="table table-hover table-checkable order-column full-width"
                                        id="example4">
                                        
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Phone Number</th>
                                                <th>Email</th>
                                                <th> Select </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for member in members %}
                                                 
                                               
                                                    <tr class="odd gradeX">
                                                        <td class="center"> 
                                                            {{ member.first_name}}
                                                        </td>
                                                        <td class="center"> 
                                                            {{ member.last_name}}
                                                         </td>
                                                        <td class="center">{{ member.phone_number}}</td>
                                                        <td class="center">{{ member.email}}</td>
                                                        
                                                        <td>
                                                            <a href="{% url 'memberDetails' member.id %}" style="display:block;">
                                                             
                                                                
                                                                
                                                                    <i class="zmdi zmdi-more"></i>
                                                                 
                                                                </a>   
                                                            
                                                        
                                                        </td>
                                                    </tr>
                                                
                                                 
                                                
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2020 . All rights reserved. By <a href="#">Emmanuel Antwi</a>.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
{% endblock content %}