
            {% extends "church/base.html" %}
            {% load i18n %}
            {% block nav_content%}
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="">
                        <a class="js-arrow" href="{% url 'home' %}">
                            <i class="fa fa-home" style="padding-left: 20%;" ></i>Home</a>

                    </li>
                    <li class="active">
                        <a href="{% url 'members' %}">
                            <i class="fa fa-users" style="padding-left: 20%;" ></i>Members</a>
                    </li>
                    <li>
                        <a  href="{% url 'department' %}">
                            <i class="fa fa-building" style="padding-left: 20%;"></i>Departments</a>
                    </li>

                </ul>
            </nav>
            {% endblock nav_content%}
            {% block content %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div style="margin-left:4%;">


                        <div class="row">
                            <div class="col-md-12">


                                <!-- Form Entry -->
                                <div class="card">
                                    <div class="card-header" style="text-align: center;">
                                         Member Registration
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="{% url 'sacrament' memberID %}" method="post" class="">
                                            {% csrf_token %}



                                            <!-- Sacrements -->
                                            <div class="container-fluid">
                                                <div class="card-header" style="text-align: center; margin: 3%;">
                                                    <strong>Sacrements</strong>
                                                </div>
                                                <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="example">Baptism</label>
                                                        <select name="baptism" id="SelectLm" class="form-control-sm form-control" required>

                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="example">Baptism Type</label>
                                                        <select name="baptism_type" id="SelectLm" class="form-control-sm form-control" required>

                                                            <option value="Sprinkling">Sprinkling</option>
                                                            <option value="Immersion">Immersion</option>
                                                            <option value="Immersion">Other</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Baptism Place/ Church</label>
                                                        <input class="au-input au-input--full" type="text" name="baptism_place" placeholder="" >
                                                    </div>

                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="example">Date of Baptism</label>
                                                        <div class="md-form md-outline input-with-post-icon datepicker">
                                                            <input placeholder="" type="date" id="date_of_baptism"  name="date_of_baptism" class="form-control">

                                                        </div>
                                                    </div>
                                                    <!--<div class="form-group">-->
                                                    <!--    <label>Date Joined</label>-->
                                                    <!--    <input class="au-input au-input--full" type="text" name="date_joined" placeholder="2015/01/01" >-->
                                                    <!--</div>-->

                                                    </div>
                                                    </div>
                                                </div>


                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-6 offset-md-6 col-sm-6">

                                                            <button class="au-btn au-btn--block m-b-20" type="submit"
                                                                        style="background-color: #04047B; ">Save and Continue <i  class="fa fa-arrow-right"></i>
                                                                    </button>


                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <!-- END OF FORM-->
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2020 . All rights reserved. By <a href="#">Emmanuel Antwi</a>.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
{% endblock content %}
