
            {% extends "church/base.html" %}
            {% load i18n %}
            {% block nav_content%}
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="">
                        <a class="js-arrow" href="{% url 'home' %}">
                            <i class="fa fa-home" style="padding-left: 20%;" ></i>Home</a>
                        
                    </li>
                    <li class="active">
                        <a href="{% url 'members' %}">
                            <i class="fa fa-users" style="padding-left: 20%;" ></i>Members</a>
                    </li>
                    <li>
                        <a  href="{% url 'department' %}">
                            <i class="fa fa-building" style="padding-left: 20%;"></i>Departments</a>
                    </li>
                   
                </ul>
            </nav>
            {% endblock nav_content%}
            {% block content %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div style="margin-left:4%;">
                        
                       
                        <div class="row">
                            <div class="col-md-12">


                                <!-- Form Entry -->
                                <div class="card">
                                    <div class="card-header" style="text-align: center;">
                                         Member Registration
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="{% url 'welfare' memberID %}" method="post" class="">
                                            {% csrf_token %}



                                          
                                        <!-- Parents Information -->
                                            <div class="container-fluid">
                                                <div class="card-header" style="text-align: center; margin: 3%;">
                                                    <strong>Parents Information</strong>
                                                </div>
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name of Father</label>
                                                    <input class="au-input au-input--full" type="text" name="father_name" placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Alive/Dead">Father Alive/Dead</label>
                                                    <select name="fatherAliveorDead" id="SelectLm" class="form-control-sm form-control" required>
                                                        
                                                        <option value="Alive">Alive</option>
                                                        <option value="Dead">Dead</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Father's Current Location</label>
                                                    <input class="au-input au-input--full" type="text" name="father_location" placeholder=""  >
                                                </div>
                                                
                                               
                                            </div>
                                         
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name of Mother</label>
                                                    <input class="au-input au-input--full" type="text" name="Mother_name" placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Alive/Dead">Mother Alive/Dead</label>
                                                    <select name="motherAliveorDead" id="SelectLm" class="form-control-sm form-control" required>
                                                        
                                                        <option value="Alive">Alive</option>
                                                        <option value="Dead">Dead</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Mother's Current Location</label>
                                                    <input class="au-input au-input--full" type="text" name="mother_location" placeholder=""  >
                                                </div>
                                               
                                            </div>
                                                </div>
                                            </div>

    
                                                 <!-- Matrimonial Information -->

                                            <div class="container-fluid">
                                                <div class="card-header" style="text-align: center; margin: 3%;">
                                                    <strong>Matrimony Information</strong>
                                                </div>
                                                <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="example">Marital Status</label>
                                                        <select name="marital_status" id="SelectLm" class="form-control-sm form-control" required>
                                                            <option value="Single">Single</option>
                                                            <option value="Married">Married</option>
                                                            <option value="Widowed">Widowed</option>
                                                        </select>
                                                       </div>
                                                    <!-- <div class="form-group">
                                                        <label>Current Address</label>
                                                        <input class="au-input au-input--full" type="text" name="current_address" placeholder="" required>
                                                    </div>     -->
                                                </div>
                                             
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Name of Spouse</label>
                                                            <input class="au-input au-input--full" type="text" name="spouse" placeholder="" >
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Number of Children  : </label>
                                                            <input type="number" min="0" max="100" name="no_children" value="0">
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Name of Children</label>
                                                    <input class="au-input au-input--full"  name="name_children"  placeholder="" >
                                                    
                                                </div>
                                            </div>
                                            
    
                                                   


                                              <!-- Emergency Information -->
                                              <div class="container-fluid">
                                                <div class="card-header" style="text-align: center; margin: 3%;">
                                                    <strong>Emergency Information</strong>
                                                </div>
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Full name</label>
                                                    <input class="au-input au-input--full" type="text" name="emergency_name" placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input class="au-input au-input--full" type="text" name="emergency_phone" placeholder="" required>
                                                </div>
                                               
                                               
                                            </div>
                                         
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Full address</label>
                                                    <input class="au-input au-input--full" type="text" name="emergency_address" placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Location</label>
                                                    <input class="au-input au-input--full" type="text" name="emergency_location" placeholder="" required>
                                                </div>
                                               
                                            </div>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-6 offset-md-6 col-sm-6">
                                                        
                                                            <button class="au-btn au-btn--block m-b-20" type="submit" 
                                                                        style="background-color: #04047B; ">Save and Continue <i  class="fa fa-arrow-right"></i>
                                                                    </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>

                                <!-- END OF FORM-->
                            </div>
                        </div>
                       
                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2020 . All rights reserved. By <a href="#">Emmanuel Antwi</a>.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
{% endblock content %}
       